<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="storgeAccountKey" value="DefaultEndpointsProtocol=https;AccountName=amolaz532objective2;AccountKey=Q4Noa+UqHW4fLLKe9G2QHO/2sZuwVB6QB3VKTkarN4Q2VHTkJMCJoNK8fqmpDMfvFhTD77lgBfHVGYQOPYdusA==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>